<div class="AddParentDialog">
  <h2 mat-dialog-title>Add Superskill</h2>
  <form [formGroup]="skillForm">
    <div>
      <mat-form-field style="width: 100%;">
          <input maxlength="80" formControlName="skillId" matInput placeholder="ID">
      </mat-form-field>
      <div class="ValidationError" *ngIf="!skillForm.get('skillId').valid && skillForm.get('skillId').touched">
        <div *ngIf="skillForm.get('skillId').errors['required']">
          The ID is required
        </div>
        <div *ngIf="skillForm.get('skillId').errors['format']">
          The ID must be in a valid format
        </div>
      </div>
    </div>
    
  </form>
  <button mat-button  mat-raised-button (click)="cancel()" style="color: white; background-color: #bb8836;">Cancel</button>
  <button mat-button  mat-raised-button (click)="submit()" style="color: white; background-color: #2451aa;">Submit</button>
</div>
