  <nav mat-tab-nav-bar class="app-bottom-toolbar">
    <a mat-tab-link
      *ngFor="let link of navLinks"
      class="app-bottom-toobar-link"
      [routerLink]="link.path"
      routerLinkActive #rla="routerLinkActive"
      [active]="showActive && rla.isActive">
      <mat-icon matListIcon>{{link.icon}}</mat-icon>
    </a>
  </nav>
