<div class="AddSkillDialog">
  <h2 mat-dialog-title>Add subskill</h2>
  <form [formGroup]="skillForm">
    <div>
      <mat-form-field style="width: 100%;">
          <input maxlength="80" formControlName="skillName" matInput placeholder="Name">
      </mat-form-field>
      <div class="ValidationError" *ngIf="!skillForm.get('skillName').valid && skillForm.get('skillName').touched">
        <div *ngIf="skillForm.get('skillName').errors['required']">
          The skill name is required
        </div>
        <div *ngIf="skillForm.get('skillName').errors['maxLength']">
          The skill name must be 80 characters or less
        </div>
      </div>
    </div>
    
  </form>
  <button mat-button  mat-raised-button (click)="cancel()" style="color: white; background-color: #bb8836;">Cancel</button>
  <button mat-button  mat-raised-button (click)="submit()" style="color: white; background-color: #2451aa;">Submit</button>
</div>


