<div class="EditSkillForm">
  <h1 mat-dialog-title>Edit Skill</h1>
  <div *ngIf="loading" class="TreeWalker-spinner">
    <mat-spinner></mat-spinner>
  </div> 
  <form [formGroup]="skillForm" *ngIf="!loading">
    <div>
      <mat-form-field style="width: 100%;">
          <input maxlength="80" formControlName="skillName" matInput placeholder="Name">
      </mat-form-field>
      <div class="ValidationError" *ngIf="!skillForm.get('skillName').valid && skillForm.get('skillName').touched">
        <div *ngIf="skillForm.get('skillName').errors['required']">
          The skill name is required
        </div>
        <div *ngIf="skillForm.get('skillName').errors['maxLength']">
          The skill name must be 80 characters or less
        </div>
      </div>
    </div>
    <div>
      <mat-form-field style="width: 100%;">
          <input formControlName="skillIcon" matInput placeholder="Icon Name">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field style="width: 100%;">
          <textarea style="height: 120px;" maxlength="500" formControlName="skillDescription" matInput placeholder="Description"></textarea>
      </mat-form-field>
      <div class="ValidationError" *ngIf="!skillForm.get('skillDescription').valid && skillForm.get('skillDescription').touched">
        <div *ngIf="skillForm.get('skillDescription').errors['maxLength']">
          The skill name must be 500 characters or less
        </div>
      </div>
    </div>
    <div>
      <mat-form-field style="width: 100%;">
          <textarea style="height: 150px;" maxlength="5000" formControlName="skillBackground" matInput placeholder="Background"></textarea>
      </mat-form-field>
      <div class="ValidationError" *ngIf="!skillForm.get('skillBackground').valid && skillForm.get('skillBackground').touched">
        <div *ngIf="skillForm.get('skillBackground').errors['maxLength']">
          The skill name must be 5000 characters or less
        </div>
      </div>
    </div>

    
  </form>
  <button mat-button  mat-raised-button (click)="cancel()" style="color: white; background-color: #bb8836;">Cancel</button>
  <button mat-button  mat-raised-button (click)="submit()" style="color: white; background-color: #2451aa;">Submit</button>
  </div>