<div style="height: 100%; width: 100%;">
  <mat-sidenav-container style="width: 100%;">
    <mat-sidenav class="app-menu" #sidenav>
      <h3 align="center" class="app-menu-header">MANAGER</h3>
      <hr>
      <mat-list>
        <mat-list-item class="app-menu-item" (click)="goToSkillMaple()">
          <mat-icon matListIcon>smartphone</mat-icon>
          <span matLine>Back to app</span>
        </mat-list-item>
        <mat-list-item class="app-menu-item" (click)="goToMenuOption('/in/trees', sidenav)">
          <mat-icon matListIcon>ac_unit</mat-icon>
          <span matLine>Trees</span>
        </mat-list-item>
        <mat-list-item class="app-menu-item" (click)="goToSignOut()">
          <mat-icon matListIcon>exit_to_app</mat-icon>
          <span matLine>Sign Out</span>
        </mat-list-item>
      </mat-list>
    </mat-sidenav>
    <mat-toolbar color="primary" style="width: 100%;">
        <button type="button" mat-button (click)="sidenav.open()">
          Menu <mat-icon style="margin-left: 5px;">menu</mat-icon>
        </button> 
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-container>
</div>
