.app-menu {
    background-color: rgb(53, 6, 110);
}

.app-menu-item {
    color: rgba(255, 255, 255, 0.87);
    font-family: 'Oxygen', arial;
}

.app-menu-item:hover {
    background-color: rgb(76, 11, 156);
    cursor: pointer;
}

.app-menu-header {
    color: rgba(255, 255, 255, 0.87);
}