<h2 mat-dialog-title>{{data.title}}</h2>
<h5>{{data.message}}</h5>
<button mat-button  mat-raised-button (click)="denyButton()" style="color: white; background-color: #bb8836;">{{data.denyLabel}}</button>
<button mat-button  mat-raised-button (click)="confirmButton()" style="color: white; background-color: #2451aa;">{{data.confirmLabel}}</button>

