<div *ngIf="loading" class="TreeManager-spinner">
    <mat-spinner></mat-spinner>
</div>
<div class="TreeFormView-form" (ngSubmit)="submitTree()" *ngIf="!loading">
    <h2 *ngIf="isNewTree"> Add Tree</h2>
    <h2 *ngIf="!isNewTree">Edit Tree</h2>
    <form [formGroup]="treeForm">
        <div>
          <mat-form-field style="width: 100%;">
              <input formControlName="treeName" matInput placeholder="Name">
          </mat-form-field>
          <div class="ValidationError" *ngIf="!treeForm.get('treeName').valid && treeForm.get('treeName').touched">
            <div *ngIf="treeForm.get('treeName').errors['required']">
              The tree name is required
            </div>
            <div *ngIf="treeForm.get('treeName').errors['maxLength']">
              The tree name must be 30 characters or less
            </div>
          </div>
        </div>
        
      </form>
      <div>
          <button class="TreeFormView-cancelButton" (click)="cancelButton()" mat-button mat-raised-button>Cancel</button>
          <button class="TreeFormView-submitButton" (click)="submitTree()" mat-button mat-raised-button>Submit</button>
        </div>
</div>


