.TreeWalker {
    width: 100%;
}

.TreeWalker-toolbar {
    width:100%;
    height: 50px;
    background-color: #673ab7;
    white-space: nowrap;
    display: flex;
    color: white;
    border-top: 3px solid rgb(223, 223, 223);
}

.TreeWalker-toolbarButton {
    display: flex;
    flex: 1;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.TreeWalker-toolbarButton-active {
    background-color: #3f2370;
}

.TreeWalker-viewer {
    margin-bottom: 50px;
    margin-left: 5%;
    margin-right: 5%;
}

.TreeWalker-headerBar {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: left;
    padding-left: 10px;
}

.TreeWalker-actionButton {
    width: 100%;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.TreeWalker-actionButton > button {
    background-color: rgb(50, 50, 165);
    color: white;
    margin: 5px;
}

.TreeWalker-skillImage {
    width: 95%;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: rgb(189, 189, 189);
}

.TreeWalker-skillImage img {
    border-radius: 15px;
}

.TreeWalker-skillFieldLabel {
    padding-left: 10px;
    color: black;
    font-size: 20px;
    text-decoration: underline;
}

.TreeWalker-skillFieldValue {
    padding-left: 10px;
}

.TreeWalker-skillImage img {
    width: 100%;
    max-height: 150px;
    max-width: 150px;
}

.TreeWalker-subskills {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
}

.TreeWalker-subskill {
  margin: 20px;
  max-width: 800px;
  min-width: 150px;
  display: flex;
  white-space: nowrap;
  flex-direction: row;
  border-top: 8px solid rgb(0, 152, 212);
}

.TreeWalker-subskill:hover {
  cursor: pointer;
  background-color: rgb(236, 236, 236);
}

.TreeWalker-subskill img {
    max-height: 100px;
    border-radius: 15px;
}

.TreeWalker-superskill {
    margin: 20px;
    max-width: 200px;
    border-top: 8px solid rgb(212, 0, 123);
  }

  .TreeWalker-superskill > div:last-child {
    display: flex;
    white-space: nowrap;
    flex-direction: row;
  }

  .TreeWalker-superskill img {
    max-height: 100px;
    border-radius: 15px;
  }

  .TreeWalker-superskill:hover {
    cursor: pointer;
    background-color: rgb(236, 236, 236);
  }

  /* .TreeWalker-superskillContent {
    width: 100%;
  } */

  .TreeWalker-superskillContent > div:first-child {
    width: 70%;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: left;
  }

  .TreeWalker-superskillContent > div:last-child {
    width: 30%;
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: right;
  }

  .TreeWalker-superskill button {
    margin: 5px;
  }


