<div class="TreeWalker">
  <div class="TreeWalker-toolbar">
    <div 
      class="TreeWalker-toolbarButton" 
      [ngClass]="{'TreeWalker-toolbarButton-active': mode == 'Superskills'}"
      (click)="selectMode('Superskills')">
      <mat-icon matListIcon>keyboard_arrow_left</mat-icon>
    </div>
    <div 
      class="TreeWalker-toolbarButton" 
      [ngClass]="{'TreeWalker-toolbarButton-active': mode == 'View'}"
      (click)="selectMode('View')">
      <mat-icon matListIcon>book</mat-icon>
    </div>
    <div 
      class="TreeWalker-toolbarButton" 
      [ngClass]="{'TreeWalker-toolbarButton-active': mode == 'Subskills'}"
      (click)="selectMode('Subskills')">
      <mat-icon matListIcon>keyboard_arrow_right</mat-icon>
    </div>
  </div>
  <div *ngIf="loading" class="TreeWalker-spinner">
      <mat-spinner></mat-spinner>
  </div>
  <div *ngIf="!loading" class="TreeWalker-viewer">
    <div class="TreeWalker-headerBar">
      <p>{{family.tree.name}} > {{family.skill.name}} > {{mode}}</p>
    </div>
    <hr>
    


    <div *ngIf="mode == 'Superskills'">
        <h2 align="center">{{family.skill.name}}: Superskills</h2>
        <div class="TreeWalker-actionButton">
            <button (click)="addSuperskill()" mat-button mat-raised-button>+ Add</button>
        </div>
        <div class="TreeWalker-superskills">
          <h3 *ngIf="family.parents.length <= 0" align="center">No superskills found.</h3>
          <mat-card *ngFor="let superskill of family.parents" class="TreeWalker-superskill" (click)="navigateToSkill(superskill)">
              <div>
                  <img src="/api/v1/skill-icons/{{superskill.icon != null && superskill.icon !== '' ? superskill.icon : 'default'}}">
              </div>
              <div class="TreeWalker-superskillContent">

                      <div>
                          <p>{{superskill.name}}</p>
                        </div>
                        <div>
                          <button mat-button mat-icon-button (click)="deleteParent($event, superskill)"><mat-icon matListIcon>delete</mat-icon></button>
                        </div>
              </div>
            </mat-card>
        </div>
    </div>



    <div *ngIf="mode == 'View'">
        <h2 align="center">{{family.skill.name}}</h2>
        <h5 align="center">ID: {{family.skill.skillId}}</h5>
        <div class="TreeWalker-actionButton">
            <button (click)="editSkill()" mat-button mat-raised-button>Edit Skill</button>
            <button style="background-color: rgb(196, 52, 52);" (click)="deleteSkill()" mat-button mat-raised-button>Delete Skill</button>
        </div>
        <div class="TreeWalker-skillField">
          <div class="TreeWalker-skillFieldLabel">
            <p>Description</p>  
          </div>
          <div class="TreeWalker-skillFieldValue">
            <p>{{family.skill.description ? family.skill.description : 'No description'}}</p>
          </div>
        </div>
        <div class="TreeWalker-skillField">
            <div class="TreeWalker-skillFieldLabel">
              <p>Icon</p>  
            </div>
            <div class="TreeWalker-skillImage">
                <img src="/api/v1/skill-icons/{{skillImage}}">
            </div>
          </div>
        <div class="TreeWalker-skillField">
          <div class="TreeWalker-skillFieldLabel">
            <p>Background</p>  
          </div>
          <div class="TreeWalker-skillFieldValue" [innerHTML]="family.skill.background ? family.skill.background : 'No background'"></div>
        </div>
    </div>



    <div *ngIf="mode == 'Subskills'">
        <h2 align="center">{{family.skill.name}}: Subskills</h2>
        <div class="TreeWalker-actionButton">
            <button (click)="addSubskill()" mat-button mat-raised-button>+ Add</button>
        </div>
        <div class="TreeWalker-subskills">
          <mat-card *ngFor="let subskill of family.children" class="TreeWalker-subskill" (click)="navigateToSkill(subskill)">
            <div class="TreeWalker-subskillContent">
                <img src="/api/v1/skill-icons/{{subskill.icon != null && subskill.icon !== '' ? subskill.icon : 'default'}}">
                <div>
                  <p>{{subskill.name}}</p>
                </div>
            </div>
          </mat-card>
        </div>
    </div>



  </div>
  
</div>
