<div class="TreeManagerView">
  <h2 align="center">Tree Manager</h2>
  <hr>
  <div *ngIf="loading" class="TreeManager-spinner">
      <mat-spinner></mat-spinner>
  </div>

  <div *ngIf="!loading">
      <div class="TreeManagerView-addButtonContainer">
          <button class="TreeManagerView-addButton" (click)="addTree()" mat-button mat-raised-button><mat-icon matListIcon>add</mat-icon> Add Tree</button>
      </div>
      <h3 *ngIf="trees.length <= 0">No skill trees found</h3>
      <mat-card *ngFor="let tree of trees" class="TreeCard" (click)="selectTree(tree)">
          <div class="TreeCard-content">
              <div>
                <p>{{tree.name}}</p>
              </div>
              <div>
                <button mat-button mat-icon-button (click)="confirmDelete($event, tree)"><mat-icon matListIcon>delete</mat-icon></button>
                <button mat-button mat-icon-button><mat-icon matListIcon (click)="editTree($event, tree)">edit</mat-icon></button>
              </div>
          </div>
        </mat-card>
  </div>

  

      

</div>
