.TreeManagerView {
    margin: 20px;
  }
  .TreeManagerView-addButtonContainer {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: left;
  }

  .TreeManagerView-addButton {
    margin: 20px;
    color: white;
    background-color: #1b6c13;
  }
    .TreeManager-spinner {
      display: flex;
      flex-direction: column;
      align-content: center;
      align-items: center;
    }
    .TreeCard {
      margin: 20px;
      max-width: 600px;
      display: flex;
      white-space: nowrap;
      flex-direction: row;
      border-top: 8px solid rgb(212, 181, 0);
    }

    .TreeCard:hover {
      cursor: pointer;
      background-color: rgb(236, 236, 236);
    }

    .TreeCard-content {
      white-space: nowrap;
      display: flex;
      width: 100%;
    }

    .TreeCard-content > div:first-child {
      width: 70%;
      display: flex;
      align-content: center;
      align-items: center;
      justify-content: left;
    }

    .TreeCard-content > div:last-child {
      width: 30%;
      display: flex;
      align-content: center;
      align-items: center;
      flex-direction: row-reverse;
      justify-content: right;
    }

    .TreeCard button {
      margin: 5px;
    }