/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

body {
    margin: 0;
    font-family: 'Oxygen', arial;
}
mat-sidenav-container {
    position: fixed;
    height: 100%;
    min-height: 100vh;
    width: 100%;
    min-width: 100%;
}